@import '../css/source.css';

/*! Variables and gradeband values */

.connect__g23,
.connect__g45 {
  --color-incorrect-bg: rgba(215, 231, 241, 1);
  --color-incorrect: rgba(115, 130, 143, 1);

  --icon-correct: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 34 34'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M19.2515 4.0775c2.6871-2.77 7.0956-2.77 9.7827 0 2.6211 2.70189 2.6211 7.0336 0 9.7355-1.9741 2.0351-4.8142 6.1599-8.4473 12.6626-2.5022 4.4786-8.805 4.754-11.65872.4539-1.18722-1.789-2.30552-3.0139-3.30288-3.8062-2.9657-2.3558-3.47665-6.6589-1.23494-9.6577 2.12578-2.8437 6.02664-3.58247 9.00584-1.7574 2.0605-3.16019 4.0067-5.72508 5.8553-7.6307Zm-2.7953 10.2643c2.0864-3.2409 3.969-5.72943 5.6664-7.47915 1.1158-1.1502 2.9248-1.1502 4.0406 0 1.1157 1.15019 1.1157 3.01503 0 4.16525-2.3627 2.4355-5.4132 6.9549-9.0682 13.4967-1.0505 1.8802-3.6456 1.9838-4.834.1931-1.3495-2.0336-2.73668-3.6056-4.14769-4.7264-1.24989-.9929-1.48233-2.8423-.51917-4.1307.88212-1.1801 2.46116-1.4803 3.68086-.7598.112.0662.2211.141.3262.2246.9225.7328 1.8147 1.5816 2.6782 2.5453.7491-1.2619 1.4745-2.438 2.1768-3.5289Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cpath fill='%2300AD00' d='M22.1226 6.86265c1.1158-1.1502 2.9248-1.1502 4.0406 0 1.1157 1.15019 1.1157 3.01503 0 4.16525-2.3627 2.4355-5.4132 6.9549-9.0682 13.4967-1.0505 1.8802-3.6456 1.9838-4.834.1931-1.3495-2.0336-2.73669-3.6056-4.1477-4.7264-1.24989-.9929-1.48233-2.8423-.51917-4.1307.96317-1.2885 2.75717-1.5281 4.00707-.5352.9225.7328 1.8147 1.5816 2.6782 2.5453 2.975-5.011 5.5745-8.66941 7.8432-11.00805Z'/%3E%3Cdefs%3E%3Cfilter id='a' width='33.9996' height='34.0002' x='.00035095' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_2025_6409'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0'/%3E%3CfeBlend in2='effect1_dropShadow_2025_6409' result='effect2_dropShadow_2025_6409'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend in2='effect2_dropShadow_2025_6409' result='effect3_dropShadow_2025_6409'/%3E%3CfeBlend in='SourceGraphic' in2='effect3_dropShadow_2025_6409' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  --icon-incorrect: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 34 34'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M25.351 17.5742c.2804.4195.5013.7221.6647.9206 2.409 2.9267 1.8927 7.2059-1.0685 9.5084-2.8569 2.2214-7.001 1.8301-9.3702-.9294l-1.0298 1.0009c-2.6412 2.567-6.87739 2.567-9.51852 0-2.70491-2.6289-2.70491-6.9398 0-9.5688l3.39374-3.2985c-.57183-1.0822-1.17174-2.2339-1.80019-3.4555-1.74585-3.39369-.28061-7.44175 3.05538-9.06292 3.17259-1.54176 7.07899-.42264 8.87669 2.6709l.8985-.87327L22.2407 7.355l-4.7378 4.6049c-.607-1.1351-1.2539-2.36637-1.9399-3.69261-.1308-.25283-.263-.50911-.3966-.76883-.6886-1.33853-2.3633-1.88107-3.7404-1.21181-1.3772.66926-1.93543 2.29689-1.2468 3.63542 1.1677 2.27003 2.2306 4.28583 3.1927 6.05283l-5.55533 5.3994c-1.08876 1.0582-1.08876 2.7738 0 3.832 1.08875 1.0582 2.85393 1.0582 3.94273 0l4.4245-4.3003c.8932 1.4696 1.648 2.5901 2.2713 3.3705.0399.05.0793.0986.1182.1458.9618 1.1685 2.7163 1.358 3.9186.4231 1.2023-.9348 1.3972-2.64.4354-3.8086-.6267-.7613-1.5192-2.1335-2.6627-4.097l5.9188-5.7527c1.0888-1.0582 1.0888-2.7739 0-3.8321-1.0887-1.05819-2.8539-1.05819-3.9427 0l-2.7879-2.86839c2.6412-2.567 6.8774-2.567 9.5185 0 2.7049 2.62898 2.7049 6.93989 0 9.56889l-3.6203 3.5187Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cpath fill='%2373828F' d='M20.2646 16.9398c1.1435 1.9635 2.036 3.3357 2.6627 4.097.9618 1.1686.7669 2.8738-.4354 3.8087-1.2023.9348-2.9568.7454-3.9186-.4232-.6454-.7841-1.4391-1.9526-2.3895-3.5163l-4.4245 4.3004c-1.0888 1.0581-2.85398 1.0581-3.94273 0-1.08876-1.0582-1.08876-2.7739 0-3.8321l5.55533-5.3994c-.9621-1.767-2.025-3.7828-3.1927-6.05282-.68863-1.33853-.1304-2.96616 1.2468-3.63542 1.3771-.66926 3.0518-.12672 3.7404 1.21181.8344 1.6221 1.6138 3.10993 2.3365 4.46143l4.7378-4.60489c1.0888-1.05819 2.854-1.05819 3.9427 0 1.0888 1.0582 1.0888 2.77389 0 3.83209l-5.9188 5.7527Z'/%3E%3Cdefs%3E%3Cfilter id='a' width='34' height='33.9987' x='0' y='.00128174' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_2025_6408'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0'/%3E%3CfeBlend in2='effect1_dropShadow_2025_6408' result='effect2_dropShadow_2025_6408'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend in2='effect2_dropShadow_2025_6408' result='effect3_dropShadow_2025_6408'/%3E%3CfeBlend in='SourceGraphic' in2='effect3_dropShadow_2025_6408' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  --icon-shown: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 34 34'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M19.2515 4.0775c2.6871-2.77 7.0956-2.77 9.7827 0 2.6211 2.70189 2.6211 7.0336 0 9.7355-1.9741 2.0351-4.8142 6.1599-8.4473 12.6626-2.5022 4.4786-8.805 4.754-11.65872.4539-1.18722-1.789-2.30552-3.0139-3.30288-3.8062-2.9657-2.3558-3.47665-6.6589-1.23494-9.6577 2.12578-2.8437 6.02664-3.58247 9.00584-1.7574 2.0605-3.16019 4.0067-5.72508 5.8553-7.6307Zm-2.7953 10.2643c2.0864-3.2409 3.969-5.72943 5.6664-7.47915 1.1158-1.1502 2.9248-1.1502 4.0406 0 1.1157 1.15019 1.1157 3.01503 0 4.16525-2.3627 2.4355-5.4132 6.9549-9.0682 13.4967-1.0505 1.8802-3.6456 1.9838-4.834.1931-1.3495-2.0336-2.73668-3.6056-4.14769-4.7264-1.24989-.9929-1.48233-2.8423-.51917-4.1307.88212-1.1801 2.46116-1.4803 3.68086-.7598.112.0662.2211.141.3262.2246.9225.7328 1.8147 1.5816 2.6782 2.5453.7491-1.2619 1.4745-2.438 2.1768-3.5289Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cpath fill='%232D2D2D' d='M22.1226 6.86265c1.1158-1.1502 2.9248-1.1502 4.0406 0 1.1157 1.15019 1.1157 3.01503 0 4.16525-2.3627 2.4355-5.4132 6.9549-9.0682 13.4967-1.0505 1.8802-3.6456 1.9838-4.834.1931-1.3495-2.0336-2.73669-3.6056-4.1477-4.7264-1.24989-.9929-1.48233-2.8423-.51917-4.1307.96317-1.2885 2.75717-1.5281 4.00707-.5352.9225.7328 1.8147 1.5816 2.6782 2.5453 2.975-5.011 5.5745-8.66941 7.8432-11.00805Z'/%3E%3Cdefs%3E%3Cfilter id='a' width='33.9996' height='34.0002' x='.00035095' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_2035_13467'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.14 0'/%3E%3CfeBlend in2='effect1_dropShadow_2035_13467' result='effect2_dropShadow_2035_13467'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend in2='effect2_dropShadow_2035_13467' result='effect3_dropShadow_2035_13467'/%3E%3CfeBlend in='SourceGraphic' in2='effect3_dropShadow_2035_13467' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");

  --checked-incorrect-bg: var(--color-incorrect);

  --checked-correct: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M15.8284 2 18 4.19383C15.7166 6.50054 12.7845 10.4477 9.23543 16.012L7.96739 18 6.6675 16.0331C5.30261 13.9678 3.74716 12.535 2 11.7022l1.31048-2.8059c1.68248.80193 3.19637 2.0004 4.54119 3.5823C10.982 7.70473 13.6335 4.21734 15.8284 2Z'/%3E%3C/svg%3E");
  --checked-incorrect: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='m14.0007 14.4844-2.187 1.7496c-.6199-.775-1.4294-2.0423-2.43608-3.8125l-4.39723 4.3972L3 14.8383l4.9728-4.97278c-.85583-1.60164-1.81767-3.47131-2.88853-5.61301L7.58929 3c.89682 1.79363 1.71585 3.39244 2.45521 4.79385l4.6884-4.68847 1.9804 1.98039-5.2791 5.27913c1.11 1.9948 1.969 3.3726 2.5665 4.1195Z'/%3E%3C/svg%3E");
}

.connect__g23 {
  --connect__effects-inner-edge: 0.375rem;
  --inner-status: 0.625rem;
}

.connect__g45 {
  --connect__effects-inner-edge: 0.1875rem;
  --inner-status: 0.375rem;
}

.connect__g68 {
  --connect__effects-inner-edge: 0.125rem;
  --inner-status: 0.25rem;
}

.connect__g912 {
  --connect__effects-inner-edge: 0.125rem;
  --inner-status: 0.25rem;
  --color-incorrect-status: var(--connect__incorrect-mid);
  --grade-checkbox-checked-state-based-border-c: var(--connect__incorrect-mid);
}

.connect__g68,
.connect__g912 {
  --connect__incorrect-dark: var(--connect__red-c55);
  --connect__incorrect-mid: var(--connect__red-s45);
  --connect__incorrect-light: var(--connect__red-s25);
  --connect__incorrect-pale: var(--connect__red-s15);
  --checked-incorrect-bg: var(--connect__incorrect-mid);
  --color-incorrect-bg: var(--connect__incorrect-pale);
  --disabled-opacity: 0.5;
}

.connect__button {
  //typography
  --connect__button-fs: var(--theme-button-fs, var(--connect__body-sm));
  --connect__button-lh: var(--theme-button-lh, var(--connect__body-sm-lheight));
  --connect__button-font-w: var(--theme-button-fw, 400);
  --connect__button-text-transform: var(--theme-button-transform, capitalize);

  // borders / radius
  --connect__button-border-w: var(--theme-button-border-w, 0rem);
  --connect__button-border-c: var(--connect__neutrals-white, transparent);
  --connect__button-radius: var(--theme-border-radius, var(--border-radius));

  //shadows
  --inner-shadow: 0rem 0rem 0rem var(--connect__effects-inner-edge)
    var(--inner-shadow-color, transparent) inset;
  --inner-shadow-color: var(--connect__neutrals-white);

  --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-7);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-8);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-9);

  // palette
  --connect__button-color: var(--active-color, var(--connect__neutrals-dark));
  --connect__button-bg: var(--state-based-bg, var(--connect__selected-mid));

  // spacings
  --connect__button-gap: var(--connect__spacer-sm);
  --connect__button-padding-y: calc(var(--connect__spacer-sm) - var(--connect__button-border-w));
  --connect__button-padding-x: calc(var(--connect__spacer-md) - var(--connect__button-border-w));
  --connect__button-justify-content: var(--btn-justify, space-between);
  --connect__button-flow: var(--btn-flow, row wrap);

  // margins
  --connect__button-margin: var(--theme-button-margin, 0);

  background-color: var(--theme-button-bg, var(--connect__button-bg));
  border: var(--connect__button-border-w) solid var(--connect__button-border-c, transparent);
  border-radius: var(--connect__button-radius, 0);
  box-shadow:
    var(--inner-shadow),
    0rem 0rem 0rem var(--inner-status, 0)
      var(--inner-status-color-state, var(--inner-status-color, transparent)) inset,
    0rem 0rem 0rem var(--connect__button-inner-divider, 0)
      var(--connect__button-inner-divider-color, transparent) inset,
    var(--connect__shadow-level-1) var(--connect__shadow-10),
    var(--connect__shadow-level-2) var(--connect__shadow-20),
    var(--connect__shadow-level-3) var(--connect__shadow-14),
    var(--connect__shadow-level-4) var(--connect__shadow-12);

  color: var(--theme-button-color, var(--connect__button-color));
  cursor: pointer;
  display: inline-flex;
  flex-flow: var(--connect__button-flow);
  font-family: var(--connect__font-sans);
  font-size: var(--connect__button-fs);
  font-weight: var(--connect__button-font-w, initial);
  gap: var(--connect__button-gap, 0);
  justify-content: var(--connect__button-justify-content);
  line-height: var(--connect__button-lh);
  margin: var(--connect__button-margin);
  padding: calc(var(--connect__button-padding-y) - var(--connect__button-border-w))
    calc(var(--connect__button-padding-x) - var(--connect__button-border-w));
  text-transform: var(--connect__button-text-transform, initial);
  transition: all 90ms cubic-bezier(0.42, 0, 0.58, 1);
  width: var(--connect__button-w, fit-content);

  &:not(:disabled) {
    &:hover,
    &.hover {
      --connect__shadow-level-2: var(--connect__shadow-spread-level-10);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-11);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-12);
    }
    &:active,
    &.active {
      --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
    }
  }

  &:focus-visible:not(:active),
  &.focus-visible:not(:active) {
    --connect__shadow-10: var(--connect__focus-mid);
    --connect__shadow-20: var(--connect__focus-mid);
    --connect__shadow-level-2: var(--connect__shadow-spread-level-16);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
    outline: unset;
  }

  &-primary {
    --active-color: var(--connect__neutrals-white);
    --icon-fill: var(--connect__icon-fill-color);
  }

  &-secondary {
    --state-based-bg: var(--connect__neutrals-white);
    --active-color: var(--connect__selected-mid);
    --inner-status-color: var(--connect__selected-mid);
    --connect__button-inner-divider: var(--connect__button-padding-y);
    --connect__button-inner-divider-color: var(--connect__neutrals-white);

    &[class*='connect_']:disabled {
      --state-based-bg: var(--connect__neutrals-white);
      --inner-status-color: var(--connect__neutrals-pale);
    }

    &[class*='-correct']:disabled {
      --inner-status-color: var(--connect__correct-light);
    }

    &[class*='-incorrect']:disabled {
      --inner-status-color: var(--connect__incorrect-light);
    }

    &.connect__button-incorrect {
      --inner-status-color: var(--connect__incorrect-mid);
    }

    &.connect__button-correct {
      --state-based-bg: var(--connect__neutrals-white);
      --inner-status-color: var(--connect__correct-light);
    }
  }

  &-incorrect {
    &:disabled {
      --state-based-bg: var(--color-incorrect-bg);
    }
  }

  &-toggle {
    &:not(:disabled) {
      --connect__icon-fill-color: var(--active-color);
      --connect__icon-fill-color: var(--active-color);
      --state-based-bg: var(--connect__neutrals-white);
      --active-color: var(--connect__selected-mid);
    }

    &.connect__toggle-on:not(:disabled) {
      --state-based-bg: var(--connect__selected-mid);
      --active-color: var(--connect__neutrals-white);
    }
  }

  &-icon {
    --connect__shadow-level-1: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-0);

    &:not([class*='-primary']):not([class*='-secondary']) {
      --connect__button-bg: var(--connect__neutrals-white);
    }

    --border-radius: 0.875rem;
    --connect__button-padding-y: calc(var(--connect__spacer-xs) + var(--connect__spacer-xs));
    --connect__button-padding-x: calc(var(--connect__spacer-xs) + var(--connect__spacer-xs));
    background: var(--connect__button-bg);
    border-radius: var(--border-radius);

    svg {
      height: var(--connect__icon-md);
      width: var(--connect__icon-md);
    }
  }

  &-media {
    --btn-justify: center;
    --btn-flow: column wrap;
    --connect__button-padding-y: var(--connect__spacer-md);
    --connect__button-padding-x: var(--connect__spacer-md);

    --connect__button-radius: 100%;
    --connect__button-h: calc(var(--connect__spacer-xl) * 3.75 - var(--connect__button-padding-y));
    --connect__button-w: calc(var(--connect__spacer-xl) * 3.75 - var(--connect__button-padding-x));

    &.media-active:not(:disabled) {
      --state-based-bg: var(--connect__red-s45);
    }
  }

  &:disabled {
    svg {
      --connect__icon-fill-color: var(--connect__gray-c45);
    }
  }

  &[class*='-correct'],
  &[class*='-incorrect'],
  &[class*='-shown'] {
    --active-color: var(--connect__neutrals-dark);
  }

  &:has(svg) {
    align-items: center;
  }
}

.connect__input {
  --resize: none;

  --starting-shadow-color: var(--connect__shadow-10);
  --connect__input-focus-shadow: transparent;
  --outer-shadow-color: var(--connect__neutrals-white);

  --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-3);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-5);
  --connect__shadow-level-5: var(--connect__shadow-spread-level-0);
  --connect__input-outer-shadow: var(--connect__shadow-spread-level-2);

  --connect__input-padding-y: var(--connect__spacer-sm);
  --connect__input-padding-x: var(--connect__spacer-md);
  --connect__input-fs: var(--connect__body-sm, 1.25rem);
  --connect__input-lh: var(--connect__body-sm-lheight, 1.5);

  --connect__input-text-color: var(--active-color, var(--connect__neutrals-dark));
  --connect__input-bg: var(--connect__neutrals-white, transparent);

  --connect__input-border-w: 0rem;
  --connect__input-border-c: var(--connect__neutrals-white, transparent);

  --caret-color: var(--connect__selected-mid);

  background-color: var(--state-based-bg, var(--connect__neutrals-white));
  border: var(--connect__input-border-w) solid var(--connect__input-border-c);
  border-radius: var(--border-radius);

  box-shadow:
    var(--connect__shadow-level-1) var(--starting-shadow-color, var(--connect__shadow-10)) inset,
    var(--connect__shadow-level-2) var(--connect__shadow-20) inset,
    var(--connect__shadow-level-3) var(--connect__shadow-14) inset,
    var(--connect__shadow-level-4) var(--connect__shadow-12) inset,
    var(--connect__shadow-level-5, initial) var(--connect__input-focus-shadow, rgba(0, 0, 0, 0)),
    var(--connect__input-outer-shadow) var(--outer-shadow-color, #fff);
  caret-color: var(--caret-color);

  color: var(--connect__input-text-color);
  cursor: pointer;

  display: inline-flex;
  flex: 1;
  font-family: var(--connect__font-sans);
  font-size: var(--connect__input-fs);
  line-height: var(--connect__input-lh);

  padding: var(--connect__input-padding-y) var(--connect__input-padding-x);
  position: relative;
  resize: var(--resize);
  transition: all 90ms cubic-bezier(0.42, 0, 0.58, 1);
  width: var(--connect__input-width, 100%);

  &:not(:disabled) {
    &:hover,
    &:active,
    &.active,
    &.hover {
      --connect__shadow-level-2: var(--connect__shadow-spread-level-7);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-14);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-9);
    }
  }

  &.active,
  &:focus-visible,
  &.focus &:active {
    outline: unset;
  }

  &:focus-visible:not(:active),
  &.focus-visible:not(:active) {
    --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-3);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-5);
    --connect__shadow-level-5: var(--connect__shadow-spread-level-17);
    --connect__input-outer-shadow: var(--connect__shadow-spread-level-15);

    --starting-shadow-color: var(--connect__focus-mid);
    --connect__input-focus-shadow: var(--connect__focus-mid);
  }

  &:active:not(:disabled),
  &.active:not(.disabled) {
    --starting-shadow-color: var(--connect__selected-mid);
  }

  &-resize {
    --resize: vertical;

    &:disabled {
      resize: none;
    }
  }

  // min 2 lines
  // max 4 lines

  & textarea {
    field-sizing: content;
    max-height: calc(4lh + 2 * var(--connect__input-padding-y));
    min-height: calc(2lh + 2 * var(--connect__input-padding-y));
  }
}

.connect__select {
  // Palette
  --connect__select-bg: var(--state-based-bg, var(--connect__neutrals-white));
  --connect__select-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.70711 7.29289C4.31658 6.90237 3.68342 6.90237 3.29289 7.29289C2.90237 7.68342 2.90237 8.31658 3.29289 8.70711L9.29289 14.7071C9.68342 15.0976 10.3166 15.0976 10.7071 14.7071L16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289C16.3166 6.90237 15.6834 6.90237 15.2929 7.29289L10 12.5858L4.70711 7.29289Z' fill='%23006AFF'/%3E%3C/svg%3E");
  --connect__select-border-w: 0rem;
  --connect__select-border-c: var(--connect__select-border-c, transparent);

  // typography
  --connect__select-fs: var(--connect__body-sm, 1.25rem);
  --connect__select-lh: var(--connect__body-sm-lheight, 1.5);
  --connect__select-font-w: 400;
  --connect__select-text-transform: capitalize;

  // shadows
  --outer-shadow-color: var(--connect__neutrals-white);

  --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-3);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-5);
  --connect__shadow-level-5: var(--connect__shadow-spread-level-0);
  --connect__input-outer-shadow: var(--connect__shadow-spread-level-2);

  // Paddings
  --connect__select-padding-y: var(--connect__spacer-sm);
  --connect__select-padding-x: var(--connect__spacer-md);

  appearance: none;
  background-color: var(--connect__select-bg);

  background-image: var(--connect__select-icon);
  background-position: calc(100% - var(--connect__select-padding-x));
  background-repeat: no-repeat;

  background-size: var(--ui-icon) var(--ui-icon);

  border: var(--connect__select-border-w) solid var(--connect__select-border-c);
  border-radius: var(--border-radius);

  box-shadow:
    var(--connect__shadow-level-1) var(--starting-shadow-color, var(--connect__shadow-10)) inset,
    var(--connect__shadow-level-2) var(--connect__shadow-20) inset,
    var(--connect__shadow-level-3) var(--connect__shadow-14) inset,
    var(--connect__shadow-level-4) var(--connect__shadow-12) inset,
    var(--connect__shadow-level-5, initial) var(--connect__input-focus-shadow, rgba(0, 0, 0, 0)),
    var(--connect__input-outer-shadow) var(--outer-shadow-color, #fff);
  color: var(--active-color, var(--connect__neutrals-dark));

  display: inline-flex;
  flex: 1;
  font-size: var(--connect__select-fs);
  font-weight: var(--connect__select-font-w);
  line-height: var(--connect__select-lh);
  padding: var(--connect__select-padding-y) var(--connect__select-padding-x);
  position: relative;
  text-transform: capitalize;
  width: 100%;

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:active,
    &.active,
    &.hover {
      --connect__shadow-level-2: var(--connect__shadow-spread-level-7);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-14);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-9);
    }
  }

  &.focus,
  &.active,
  &:focus-visible,
  &:active {
    outline: unset;
  }

  &:focus-visible:not(:active),
  &.focus-visible:not(:active) {
    --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-3);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-5);
    --connect__shadow-level-5: var(--connect__shadow-spread-level-17);
    --connect__input-outer-shadow: var(--connect__shadow-spread-level-15);

    --starting-shadow-color: var(--connect__focus-mid);
    --connect__input-focus-shadow: var(--connect__focus-mid);
  }

  &:active:not(:disabled),
  &.active:not(.disabled) {
    --starting-shadow-color: var(--connect__selected-mid);
  }

  &-correct,
  &-incorrect,
  &-shown,
  &:disabled {
    --connect__select-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.70711 7.29289C4.31658 6.90237 3.68342 6.90237 3.29289 7.29289C2.90237 7.68342 2.90237 8.31658 3.29289 8.70711L9.29289 14.7071C9.68342 15.0976 10.3166 15.0976 10.7071 14.7071L16.7071 8.70711C17.0976 8.31658 17.0976 7.68342 16.7071 7.29289C16.3166 6.90237 15.6834 6.90237 15.2929 7.29289L10 12.5858L4.70711 7.29289Z' fill='%235D5F5F'/%3E%3C/svg%3E");
  }

  &::-ms-expand {
    display: none;
  }
}

.connect__button-split {
  cursor: unset;
  display: inline-flex;
  flex-flow: var(--connect__button-flow);

  position: relative;
  transition: var(--transition);
  width: fit-content;

  button {
    --connect__button-fs: var(--theme-button-fs, var(--connect__body-sm));
    --connect__button-lh: var(--theme-button-lh, var(--connect__body-sm-lheight));
    --connect__button-color: var(--active-color, var(--connect__neutrals-dark));
    --connect__button-bg: var(--state-based-bg, var(--connect__selected-mid));
    background-color: var(--theme-button-bg, var(--connect__button-bg));
    border: unset;
    color: var(--theme-button-color, var(--connect__button-color));
    cursor: pointer;
    display: inline-flex;

    font-size: var(--connect__button-fs);
    line-height: var(--connect__button-lh);

    &:nth-child(2) {
      border-left: calc(var(--connect__spacer-xs) / 2) solid var(--connect__neutrals-white);
      padding-left: var(--connect__button-gap);
      transition: all 90ms cubic-bezier(0.42, 0, 0.58, 1);
    }

    + ul {
      --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
      --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-18);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-18);

      background-color: var(--connect__neutrals-white);

      border-radius: var(--border-radius);
      box-shadow:
        var(--connect__shadow-level-1) var(--connect__shadow-10),
        var(--connect__shadow-level-2) var(--connect__shadow-20),
        var(--connect__shadow-level-3) var(--connect__shadow-14),
        var(--connect__shadow-level-4) var(--connect__shadow-12);
      color: var(--connect__neutrals-dark);
      display: flex;
      flex-flow: column wrap;
      font-family: var(--connect__font-sans);
      font-size: var(--connect__caption);
      line-height: var(--connect__caption-lheight);
      list-style-type: none;
      margin-top: calc(var(--border-width) * 2);
      padding: 0;
      position: absolute;
      top: 100%;
      width: calc(100% - var(--connect__spacer-md) + var(--border-width));
      z-index: 1;

      li {
        padding: var(--connect__spacer-sm);

        &:first-of-type {
          border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        &:hover {
          background-color: var(--connect__neutrals-pale);
        }
      }
    }

    &:disabled {
      --active-color: var(--color-action-disabled);
      color: var(--connect__neutrals-mid);
      cursor: unset;
    }

    &:focus-visible {
      outline: unset;
    }
  }
}

.connect__accordion {
  list-style: none;
  padding-left: 0;

  > li {
    padding-left: 0;
    margin-top: var(--border-width);
    margin-left: 0;

    &::before {
      content: none;
    }
  }

  details {
    margin-top: 0;
    position: relative;

    & > * {
      padding-left: var(--connect__spacer-md);
      padding-right: var(--connect__spacer-md);
    }

    &[open] {
      padding-bottom: var(--connect__spacer-sm);

      summary {
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  summary {
    padding-top: var(--connect__spacer-sm);
    padding-bottom: var(--connect__spacer-sm);
    min-height: calc(var(--ui-button) + var(--connect__spacer-md));
    border-radius: var(--border-radius);

    font-size: var(--connect__body-lg);
    list-style: none;
    cursor: pointer;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    *,
    & + * {
      margin-bottom: 0;
      margin-top: 0;
    }

    &::after {
      --active-color: var(--connect__selected-mid);

      width: var(--ui-button);
      height: var(--ui-button);
      content: '';
      margin-left: var(--connect__spacer-md);
      border-radius: 50%;
      border: var(--border-width) solid var(--active-color);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath fill='%230072db' fill-rule='nonzero' d='M16 5.8c.5-.4 1.2-.4 1.7 0 .4.5.4 1.2 0 1.6l-6.9 6.8c-.4.4-1.2.4-1.6 0L2.3 7.4C2 7 2 6.3 2.3 5.8c.5-.4 1.2-.4 1.7 0l6 6 6-6z'/%3E%3C/g%3E%3C/svg%3E");
      background-size: var(--ui-icon) var(--ui-icon);
      background-position: center center;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }

    &::before {
      --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
      --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-18);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-18);

      background: white;
      border-radius: var(--border-radius);
      box-shadow:
        var(--connect__shadow-level-1) var(--connect__shadow-10),
        var(--connect__shadow-level-2) var(--connect__shadow-20),
        var(--connect__shadow-level-3) var(--connect__shadow-14),
        var(--connect__shadow-level-4) var(--connect__shadow-12);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: all 90ms cubic-bezier(0.42, 0, 0.58, 1);
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &:hover,
    &.hover {
      &::before {
        --connect__shadow-level-1: var(--connect__shadow-spread-level-2);
        --connect__shadow-level-2: var(--connect__shadow-spread-level-10);
        --connect__shadow-level-3: var(--connect__shadow-spread-level-11);
        --connect__shadow-level-4: var(--connect__shadow-spread-level-12);
      }
    }

    &:active,
    &.active {
      --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
    }

    &:focus-visible:not(:active),
    &.focus-visible:not(:active) {
      --connect__shadow-10: var(--connect__focus-mid);
      --connect__shadow-20: var(--connect__focus-mid);
      --connect__shadow-level-1: var(--connect__shadow-spread-level-2);
      --connect__shadow-level-2: var(--connect__shadow-spread-level-16);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-2);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-15);
    }
  }

  &.connect__accordion--divider {
    summary {
      & + * {
        padding-top: var(--connect__spacer-md);
        position: relative;

        &::before {
          --active-color: var(--connect__selected-mid);

          position: absolute;
          top: 0;
          left: var(--connect__spacer-md);
          width: calc(100% - var(--connect__spacer-xl));
          height: var(--border-width);
          content: '';
          background: var(--active-color);
        }
      }
    }
  }

  &.connect__accordion--color {
    details {
      &[open] {
        summary {
          --active-color: var(--connect__selected-mid);

          background: var(--active-color);

          & + * {
            padding-top: var(--connect__spacer-sm);
          }
        }
      }
    }
  }
}

.connect__card {
  --connect__card-border-w: var(--theme-chip-border-w, 0rem);
  --connect__card-border-c: var(--connect__neutrals-white, transparent);
  --connect__card-radius: var(--theme-border-radius, var(--border-radius));

  --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-18);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-18);

  --connect__card-padding-y: var(--connect__spacer-sm);
  --connect__card-padding-x: var(--connect__spacer-md);

  --connect__card-flow: var(--theme-card-flow, column wrap);

  --connect__card-gap: var(--theme-card-gap, var(--connect__spacer-sm));

  background-color: var(--connect__neutrals-white);
  border: var(--connect__card-border-w) solid var(--connect__card-border-c, transparent);

  border-radius: var(--border-radius);
  box-shadow:
    var(--connect__shadow-level-1) var(--connect__shadow-10),
    var(--connect__shadow-level-2) var(--connect__shadow-20),
    var(--connect__shadow-level-3) var(--connect__shadow-14),
    var(--connect__shadow-level-4) var(--connect__shadow-12);
  display: inline-flex;
  flex-flow: var(--connect__card-flow);
  gap: var(--connect__card-gap);
  padding: calc(var(--connect__card-padding-y) - var(--connect__card-border-w))
    calc(var(--connect__card-padding-x) - var(--connect__card-border-w));

  .connect__figure,
  .connect__card-header,
  .connect__card-content,
  .connect__card-footer {
    width: 100%;
  }

  header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
    }
  }
}

.connect__figure {
  margin: 0;
  img {
    height: 100;
    object-fit: cover;
    width: 100%;
  }

  figcaption {
    font-size: var(--connect__caption);
    margin-top: var(--connect__spacer-sm);
  }
}

.connect__tooltip-container {
  position: relative;
  width: fit-content;
}

.connect__tooltip {
  --connect__tooltip-bg: var(--theme__tooltip-bg, var(--connect__neutrals-dark));
  --connect__tooltip-color: var(--theme__tooltip-color, var(--connect__neutrals-white));

  --connect__tooltip-padding-y: var(--theme__tooltip-padding-y, var(--connect__spacer-xs));
  --connect__tooltip-padding-x: var(--theme__tooltip-padding-y, var(--connect__spacer-sm));

  --shadow-level-1: var(--theme-tooltip-shadow-1, var(--connect__shadow-spread-level-1));
  --shadow-level-2: var(--theme-tooltip-shadow-2, var(--connect__shadow-spread-level-7));
  --shadow-level-3: var(--theme-tooltip-shadow-3, var(--connect__shadow-spread-level-8));
  --shadow-level-4: var(--theme-tooltip-shadow-4, var(--connect__shadow-spread-level-9));

  align-items: center;
  align-content: center;
  border-radius: var(--Text-Inner-Spacing, 0.25rem);
  background: var(--connect__tooltip-bg);
  box-shadow:
    var(--shadow-level-1) var(--connect__shadow-10),
    var(--shadow-level-2) var(--connect__shadow-20),
    var(--shadow-level-3) var(--connect__shadow-14),
    var(--shadow-level-4) var(--connect__shadow-12);
  color: var(--connect__tooltip-color);
  display: inline-block;
  justify-content: center;
  padding: var(--connect__tooltip-padding-y) var(--connect__tooltip-padding-x);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

section.connect__grid {
  --default-grid-gap: var(--connect__spacer-xl);
  align-content: start;
  display: grid;
  gap: var(--default-grid-gap);
  grid-auto-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content;
  width: auto;

  &.connect__grid-gutter {
    padding: calc(var(--connect__spacer-xl) * 2) var(--gutter-width);
  }
}

.connect__grid-item {
  grid-column: var(--start-col, 1) / span var(--span-col, 12);
  grid-row: var(--xs-row-span, auto);
}

@media (min-width: 30rem) {
  .connect-sm {
    grid-column: var(--sm-start-col) / span var(--sm-span-col);
    grid-row: var(--sm-row-span, auto);
  }
}

@media (min-width: 40.625rem) {
  .connect-md {
    grid-column: var(--md-start-col) / span var(--md-span-col);
    grid-row: var(--md-row-span, auto);
  }
}

@media (min-width: 55rem) {
  .connect-lg {
    grid-column: var(--lg-start-col) / span var(--lg-span-col);
    grid-row: var(--lg-row-span, auto);
  }
}

@media (min-width: 80rem) {
  .connect-xl {
    grid-column: var(--xl-start-col) / span var(--xl-span-col);
    grid-row: var(--xl-row-span, auto);
  }
}

.connect__stack {
  --connect-stack-spacing: var(--xs-spacing);
  --connect-stack-direction: var(--xs-direction);
  --connect-stack-align: var(--xs-alignItems);
  --connect-stack-wrap: var(--xs-flexWrap);
  --connect-justify-content: var(--xs-justifyContent);

  align-items: var(--xs-alignItems, start);
  display: flex;
  flex: 1;
  flex-flow: var(--connect-stack-direction, column);
  flex-wrap: var(--connect-stack-wrap, wrap);
  gap: var(--connect-stack-spacing, var(--connect__spacer-sm));
  justify-content: var(--connect-justify-content, start);
  width: 100%;

  @media (min-width: 30rem) {
    &.stack-sm {
      --connect-stack-spacing: var(--sm-spacing);
      --connect-stack-direction: var(--sm-direction);
      --connect-stack-align: var(--sm-alignItems);
      --connect-stack-wrap: var(--sm-flexWrap);
      --connect-justify-content: var(--sm-justifyContent);
    }
  }

  @media (min-width: 40.625rem) {
    &.stack-md {
      --connect-stack-spacing: var(--md-spacing);
      --connect-stack-direction: var(--md-direction);
      --connect-stack-align: var(--md-alignItems);
      --connect-stack-wrap: var(--md-flexWrap);
      --connect-justify-content: var(--md-justifyContent);
    }
  }

  @media (min-width: 55rem) {
    &.stack-lg {
      --connect-stack-spacing: var(--lg-spacing);
      --connect-stack-direction: var(--lg-direction);
      --connect-stack-align: var(--lg-alignItems);
      --connect-stack-wrap: var(--lg-flexWrap);
      --connect-justify-content: var(--lg-justifyContent);
    }
  }

  @media (min-width: 80rem) {
    &.stack-xl {
      --connect-stack-spacing: var(--xl-spacing);
      --connect-stack-direction: var(--xl-direction);
      --connect-stack-align: var(--xl-alignItems);
      --connect-stack-wrap: var(--xl-flexWrap);
      --connect-justify-content: var(--xl-justifyContent);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}

.connect__chip {
  --connect__chip-fs: var(--theme-chip-fs, var(--connect__caption));
  --connect__chip-lh: var(--theme-chip-lh, var(--connect__caption-lheight));

  --connect__chip-border-w: var(--theme-chip-border-w, 0rem);
  --connect__chip-border-c: var(--connect__neutrals-white, transparent);
  --connect__chip-radius: var(--theme-border-radius, var(--border-radius));

  --connect__chip-color: var(--active-color, var(--connect__neutrals-dark));
  --connect__chip-bg: var(--theme-chip-bg, var(--connect__neutrals-white));

  --connect__chip-padding-y: var(--connect__spacer-xs);
  --connect__chip-padding-x: var(--connect__spacer-md);

  --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-18);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-18);

  background-color: var(--connect__chip-bg);

  border: var(--connect__chip-border-w) solid var(--connect__chip-border-c, transparent);
  border-radius: var(--connect__chip-radius, 0);
  box-shadow:
    var(--connect__shadow-level-1) var(--connect__shadow-10),
    var(--connect__shadow-level-2) var(--connect__shadow-20),
    var(--connect__shadow-level-3) var(--connect__shadow-14),
    var(--connect__shadow-level-4) var(--connect__shadow-12);
  color: var(--theme-button-color, var(--connect__chip-color));
  font-family: var(--connect__font-sans);
  font-size: var(--connect__chip-fs);

  line-height: var(--connect__chip-lh);
  padding: calc(var(--connect__chip-padding-y) - var(--connect__chip-border-w))
    calc(var(--connect__chip-padding-x) - var(--connect__chip-border-w));

  width: var(--connect__chip-w, fit-content);
}

.connect__icon-wrapper {
  display: inline-flex;
  flex: 1;
  position: relative;
  width: 100%;

  &::after {
    background-image: var(--state-icon);
    background-repeat: repeat;
    background-size: contain;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(
      calc(var(--connect__icon-size, var(--connect__icon-sm)) / 3),
      calc(var(--connect__icon-size, var(--connect__icon-sm)) / -3)
    );
  }

  &:has([class*='-correct']),
  &:has([class*='-incorrect']),
  &:has([class*='-shown']) {
    &::after {
      height: var(--connect__icon-size, var(--connect__icon-sm));
      width: var(--connect__icon-size, var(--connect__icon-sm));
    }
  }

  &:has([class*='-correct']) {
    --state-icon: var(--icon-correct);
  }

  &:has([class*='-incorrect']) {
    --state-icon: var(--icon-incorrect);
  }

  &:has([class*='-shown']) {
    --state-icon: var(--icon-shown);
  }
}

.connect__icon {
  --icon-fill: var(--connect__icon-fill-color, #2d2d2d);
  --icon-stroke: var(--connect__icon-stroke-color, var(--connect__icon-default-stroke-color));
  color: var(--icon-fill);
  height: var(--connect__icon-size);
  width: var(--connect__icon-size);

  svg {
    fill: var(--icon-fill);
    stroke: var(--icon-stroke, transparent);
  }

  &-xs {
    --connect__icon-size: var(--connect__icon-xs);
  }
  &-sm {
    --connect__icon-size: var(--connect__icon-sm);
  }
  &-md {
    --connect__icon-size: var(--connect__icon-md);
  }
  &-lg {
    --connect__icon-size: var(--connect__icon-lg);
  }
  &-xl {
    --connect__icon-size: var(--connect__icon-xl);
  }
  &-xxl {
    --connect__icon-size: var(--connect__icon-xxl);
  }
}

.connect__mcq-label-wrapper {
  display: inline-flex;
  position: relative;

  &:has(.connect__mcq-text) {
    --connect__icon-size: var(--connect__icon-xl);
  }
}
.connect__mcq-label {
  // typography
  --connect__label-fs: var(--connect__body-sm, 1.25rem);
  --connect__label-lh: var(--connect__body-sm-lheight, 1.5);
  --connect__label-font-w: 400;
  --connect__label-text-transform: capitalize;

  // borders / radius
  --connect__label-border-w: 0rem;
  --connect__label-border-c: var(--connect__neutrals-white, transparent);
  --connect__label-radius: var(--border-radius);

  //shadows
  --inner-shadow: 0rem 0rem 0rem var(--connect__effects-inner-edge)
    var(--inner-shadow-color, transparent) inset;
  --inner-shadow-color: var(--connect__neutrals-white);
  --starting-shadow-color: var(--connect__neutrals-white);

  --connect__shadow-level-1: var(--connect__shadow-spread-level-2);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-7);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-8);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-9);

  align-items: center;
  background-color: var(--state-based-bg, var(--connect__neutrals-white));
  border: var(--connect__label-border-w) solid var(--connect__label-border-c, transparent);
  border-radius: var(--connect__label-radius, 0);

  box-shadow:
    var(--inner-shadow),
    0rem 0rem 0rem var(--inner-status, 0.375rem)
      var(--mcq-starting-shadow-color, var(--starting-shadow-color)) inset,
    0rem 0rem 0rem var(--connect__effects-inner-edge, 0.5rem)
      var(--state-based-bg, var(--connect__neutrals-white)) inset,
    var(--connect__shadow-level-1) var(--connect__shadow-10),
    var(--connect__shadow-level-2) var(--connect__shadow-20),
    var(--connect__shadow-level-3) var(--connect__shadow-14),
    var(--connect__shadow-level-4) var(--connect__shadow-12);

  color: var(--connect__label-color);
  cursor: pointer;
  display: inline-flex;
  flex-flow: var(--connect__label-flow);
  font-family: var(--connect__font-sans);
  font-size: var(--connect__label-fs);
  font-weight: var(--connect__label-font-w, initial);
  justify-content: var(--connect__label-justify-content);
  line-height: var(--connect__label-lh);
  padding: var(--connect__label-padding-y) var(--connect__label-padding-x);

  position: relative;
  text-transform: var(--connect__label-text-transform, initial);
  transition: all 90ms cubic-bezier(0.42, 0, 0.58, 1);
  width: var(--connect__label-w, fit-content);

  // palette
  --connect__label-color: var(--active-color, var(--connect__neutrals-dark));

  // spacings
  --connect__label-gap: var(--connect__spacer-md);
  --connect__label-padding-y: calc(var(--connect__spacer-xs) - var(--connect__label-border-w));
  --connect__label-padding-x: calc(var(--connect__spacer-md) - var(--connect__label-border-w));
  --connect__label-justify-content: var(--connect__card-justify, start);
  --connect__label-flow: var(--connect__card-flow, row wrap);

  --connect__label-w: 100%;

  //inputs
  --connect__input-dimensions: calc(var(--connect__spacer-lg) - var(--border-width));

  &::before {
    --connect__input-border-w: 0.125rem;
    border: var(--connect__input-border-w) solid
      var(--checkbox-checked-state-based-border-c, var(--connect__selected-mid));
    border-radius: calc(var(--border-radius) - var(--connect__spacer-sm));
    content: '';
    height: calc(
      var(--connect__input-dimensions) - var(--connect__spacer-sm) - var(--connect__input-border-w)
    );
    margin-right: var(--connect__label-gap);
    padding: var(--connect__spacer-xs);
    width: calc(
      var(--connect__input-dimensions) - var(--connect__spacer-sm) - var(--connect__input-border-w)
    );
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &.hover {
    --connect__shadow-level-1: var(--connect__shadow-spread-level-2);
    --connect__shadow-level-2: var(--connect__shadow-spread-level-10);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-11);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-12);
  }

  &:active,
  &.active {
    --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
  }

  &:focus-visible:not(:active),
  &.focus-visible:not(:active) {
    --connect__shadow-10: var(--connect__focus-mid);
    --connect__shadow-20: var(--connect__focus-mid);
    --connect__shadow-level-1: var(--connect__shadow-spread-level-2);
    --connect__shadow-level-2: var(--connect__shadow-spread-level-16);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-2);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-15);
  }
}
.connect__mcq-card {
  --connect__label-gap: var(--connect__spacer-sm);
  --connect__label-padding-y: var(--connect__spacer-xs);
  --connect__label-padding-x: var(--connect__spacer-xs);
  --inner-shadow: 0rem 0rem 0rem var(--connect__effects-inner-edge)
    var(--inner-shadow-color, transparent) inset;
  --inner-shadow-color: var(--connect__neutrals-white);
  --starting-shadow-color: transparent;
  --connect__shadow-level-1: var(--connect__shadow-spread-level-2);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-7);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-8);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-9);
  align-items: center;

  box-shadow:
    var(--inner-shadow),
    0rem 0rem 0rem var(--inner-status, 0.375rem)
      var(--state-mcq-shadow, var(--starting-shadow-color)) inset,
    0rem 0rem 0rem var(--connect__effects-inner-edge, 0.5rem)
      var(--state-based-bg, var(--connect__neutrals-white)) inset,
    var(--connect__shadow-level-1) var(--connect__shadow-10),
    var(--connect__shadow-level-2) var(--connect__shadow-20),
    var(--connect__shadow-level-3) var(--connect__shadow-14),
    var(--connect__shadow-level-4) var(--connect__shadow-12);

  justify-content: center;

  &::before {
    content: unset;
  }

  &::after {
    background-image: var(--state-icon);
    background-repeat: repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    height: var(--connect__icon-lg);
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transform: translateY(calc(var(--connect__icon-lg) / 2.5));
    width: var(--connect__icon-lg);
  }

  figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: var(--connect__spacer-xs);

    figcaption {
      padding: var(--connect__spacer-xs) var(--connect__spacer-sm) var(--connect__spacer-md)
        var(--connect__spacer-sm);
    }
  }

  img {
    border-radius: calc(var(--connect__label-radius) - var(--connect__label-padding-y));
    object-fit: cover;
    width: 100%;
  }

  &.connect__mcq-card-selected {
    --starting-shadow-color: var(--connect__selected-mid);
    &:not(:hover):not(:active):not(:focus-visible) {
      --connect__shadow-level-2: var(--connect__shadow-spread-level-10);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-11);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-13);
    }
  }
}

.connect__mcq-text {
  &:before {
    content: unset;
  }
}
input[type='checkbox'].connect__input,
input[type='radio'].connect__input {
  opacity: 0;
  position: absolute;

  &:disabled {
    + .connect__mcq-label {
      --active-color: var(--connect__neutrals-mid);
      --checkbox-checked-state-based-border-c: var(--connect__gray-c45);
      --checkbox-state-based-bg: var(--checked-incorrect-bg);
      --checkbox-state-based-bg: var(--connect__neutrals-pale); //add this back, MWA 6/3
      --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
      cursor: not-allowed;
    }

    + .connect__mcq-card {
      opacity: var(--disabled-opacity, 1);
      --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
      --connect__shadow-level-2: var(--connect__shadow-spread-level-6);
      --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
      --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
    }
  }

  &:checked {
    + .connect__mcq-label {
      &::before {
        background-color: var(--checkbox-state-based-bg, var(--connect__selected-mid));
        background-image: var(--checked-state-icon, transparent);
        background-size: contain;
        box-shadow: 0rem 0 0 var(--connect__input-border-w)
          var(--checkbox-state-based-bg, var(--connect__neutrals-white)) inset;
      }
    }

    + .connect__mcq-card {
      --starting-shadow-color: var(--connect__selected-mid);

      &:not(:hover):not(:active):not(:focus-visible) {
        --connect__shadow-level-2: var(--connect__shadow-spread-level-10);
        --connect__shadow-level-3: var(--connect__shadow-spread-level-11);
        --connect__shadow-level-4: var(--connect__shadow-spread-level-13);
      }
    }
  }

  &:active,
  &.active {
    --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
  }
}

input[type='radio'].connect__input {
  + label {
    &::before,
    &::after {
      border-radius: 50%;
    }
  }
}
.connect__progress-wrapper {
  width: 100%;
}
.connect__progress[value] {
  --progressbar-color: var(--progress-color, var(--connect__selected-mid));

  --connect__shadow-level-1: var(--connect__shadow-spread-level-1);
  --connect__shadow-level-2: var(--connect__shadow-spread-level-4);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-3);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-5);
  --connect__shadow-level-5: var(--connect__shadow-spread-level-0);
  --input-outer-shadow: var(--connect__shadow-spread-level-2);

  --border-radius: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: var(--border-radius);
  transition: all 150ms linear;
  transition-property: width, background-color;
  width: 100%;

  &::-webkit-progress-bar {
    --border-radius: 1rem;
    background: var(--progress-bg, (var(--white)));
    border-radius: var(--border-radius);
    box-shadow:
      var(--connect__shadow-level-1) var(--connect__shadow-20) inset,
      var(--input-outer-shadow) var(--outer-shadow-color, var(--connect__neutrals-white));
  }
  &::-webkit-progress-value {
    background: var(--progressbar-color);
    border-radius: var(--border-radius);
    transition: all 150ms linear;
    transition-property: width, background-color;
  }
  &::-moz-progress-bar {
    background: var(--progressbar-color);
    border-radius: var(--border-radius);
    transition: all 150ms linear;
    transition-property: width, background-color;
  }
}
[class*='connect_']:disabled {
  --active-color: var(--connect__neutrals-mid);
  --state-based-bg: var(--connect__neutrals-pale);
  --connect__icon-fill-color: var(--connect__neutrals-light);
  --checkbox-checked-state-based-border-c: var(--connect__neutrals-light);
  --checkbox-state-based-bg: var(--connect__neutrals-pale);

  --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-0);

  cursor: not-allowed;
}
[class*='-correct']:not(:disabled),
[class*='-correct']:is(:disabled) {
  --mcq-starting-shadow-color: transparent;
  --state-icon: var(--icon-correct);
  --state-based-bg: var(--connect__correct-pale);
  --checkbox-state-based-bg: var(--connect__correct-mid);
  --state-mcq-shadow: var(--connect__correct-mid);
  --checkbox-checked-state-based-border-c: var(
    --grade-checkbox-checked-state-based-border-c,
    var(--connect__neutrals-white)
  );

  --checked-state-icon: var(--checked-correct);
}
[class*='-incorrect'],
[class*='-incorrect']:disabled {
  --mcq-starting-shadow-color: transparent;
  --state-icon: var(--icon-incorrect);
  --state-based-bg: var(--color-incorrect-bg);
  --inner-status-color-state: var(--color-incorrect-bg);
  --checkbox-state-based-bg: var(--checked-incorrect-bg);
  --state-mcq-shadow: var(--connect__incorrect-mid);
  --checkbox-checked-state-based-border-c: var(
    --grade-checkbox-checked-state-based-border-c,
    var(--connect__neutrals-white)
  );
  --checked-state-icon: var(--checked-incorrect);
}
[class*='-shown'],
[class*='-shown']:disabled {
  --mcq-starting-shadow-color: transparent;
  --starting-shadow-color: var(--connect__neutrals-dark);
  --state-based-bg: var(--connect__neutrals-white);
  --state-icon: var(--icon-shown);
  --checkbox-checked-state-based-border-c: var(
    --grade-checkbox-checked-state-based-border-c,
    var(--connect__neutrals-white)
  );
  --checkbox-state-based-bg: var(--connect__neutrals-dark);
  --checked-state-icon: var(--checked-correct);
}
[class*='-correct'],
[class*='-incorrect'],
[class*='-shown'] {
  &:disabled {
    --active-color: var(--connect__neutrals-dark);
  }
  --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
  --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
  --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
  --active-color: var(--connect__neutrals-dark);
  cursor: not-allowed;

  &:hover,
  &.hover,
  &.active,
  &:active {
    --connect__shadow-level-2: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-3: var(--connect__shadow-spread-level-0);
    --connect__shadow-level-4: var(--connect__shadow-spread-level-0);
  }
}
