# logs
logs
*.log

# npm & yarn
.npm
npm-debug.log*
package-lock.json

.yarn
.yarn-integrity
yarn-debug.log*
yarn-error.log*

node_modules/

# TypeScript
typings/
*.tsbuildinfo

# Lint directories
.eslintcache
.stylelintcache

# env & config
# *.env*
config/local*
*/config/local*

# Storybook build outputs
.out
.storybook-out
storybook-static/

# Bundles
_build/
dist/
.cache
.parcel-cache

# IDE
.idea
.vscode
.vscode-test
.devcontainer

# Misc
.cache/
.DS_Store
