/* 
.connect__button Component

Buttons take variables in the following format
  1: theme variable for external theming
  2: variant variables for button tweaks e.g speech to text
  3: state variables, represents a visual state
  3.1 Secondary Buttons: state variables
      Variant = --connect__inner-status-color
      State --connect__inner-status-color-state

/*
| Property            |  Variant/State                | Fallback / Default                                       |
|---------------------|-------------------------------|----------------------------------------------------------|
| Font size           | --variant__btn-fs             | --connect__body-sm                                       |
| Line height         | --variant__btn-lh             | --connect__body-sm-lheight                               |
| Font weight         | --variant__btn-fw             | --connect__fw-regular                                    |
| Text transform      | --variant__btn-text-transform | --connect__text-capitalize                               |
| Background color    | --state__btn-bg               | --connect__primary-mid                                   |
| Border color        | --variant__btn-border-c       | --connect__surface-null                                  |
| Gap                 | --variant__btn-gap            | --connect__spacer-sm                                     |
| Padding X           | --variant__btn-padding-x      | var(--connect__spacer-sm) - var(--connect__btn-border-w) |
| Padding Y           | --variant__btn-padding-y      | var(--connect__spacer-sm) - var(--connect__btn-border-w) |
| Flex align          | --variant__btn-align          | center                                                   |
| Flex justify        | --variant__btn-justify        | space-between                                            |
| Border radius       | --variant__btn-border-radius  | --connect__radius-sm                                 |
| Height              | --variant__btn-h              | auto                                                     |
| Icon Fill           | --state-based-icon-fill        | --connect__icon-fill                                      |
*/
.connect__button {
    --connect__btn-padding-y: var(--variant__btn-padding-y,
            var(--connect__spacer-sm));
    --connect__btn-padding-x: var(--variant__btn-padding-x,
            var(--connect__spacer-md));
    --icon__fill-color: var(--state-based-icon-fill, var(--connect__icon-fill));
    background-color: var(--variant__btn-bg, var(--state-based-bg, var(--connect__primary-mid)));
    border: var(--connect__spacer-zero);
    border-radius: var(--variant__btn-border-radius, var(--connect__radius-sm));
    box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-2);
    color: var(--active-color, var(--connect__surface-dark));
    cursor: var(--connect__state-based-pointer, pointer);
    display: grid;
    font-family: var(--connect__font-sans);
    font-size: var(--variant__btn-fs, var(--connect__body-sm));
    font-weight: var(--variant__btn-fw, var(--connect__fw-regular, initial));
    gap: var(--variant__btn-gap, var(--connect__spacer-sm));
    grid-auto-columns: max-content;
    height: var(--connect__btn-h, auto);
    justify-content: var(--variant__btn-justify, space-between);
    line-height: var(--variant__btn-lh, var(--connect__body-sm-lheight));
    padding: var(--connect__btn-padding-y) var(--connect__btn-padding-x);
    place-items: var(--variant__btn-align, center) center;
    text-transform: var(--connect__text-capitalize);
    transition-duration: var(--connect__transition-rapid);
    transition-property: color, background-color, border-color, box-shadow, fill, stroke;
    transition-timing-function: var(--connect__ease-out);
    width: var(--connect__btn-w, auto);
}

.connect__button:not(:disabled):hover {
    box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-4);
}

.connect__button:not(:disabled):active {
    box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-0);
}

.connect__button:not(:disabled):focus-visible:not(:active) {
    box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-focus);
}

.connect__button * {
    grid-row: 1;
}

.connect__button *:not(svg):not(span) {
    grid-column: 1/span 2;
}

.connect__button span {
    grid-column: 1/span 2;
}

.connect__button svg:first-child:last-child {
    grid-column: 1/span 2;
}

.connect__button:has(svg:first-child) svg {
    grid-column: 1;
    justify-self: end;
}

.connect__button:has(svg:first-child) span {
    grid-column: 2;
    justify-self: start;
}

.connect__button:has(svg:last-child) svg {
    grid-column: 2;
    justify-self: start;
}

.connect__button:has(svg:last-child) span {
    grid-column: 1;
    justify-self: end;
}

.connect__button-primary {
    --active-color: var(--connect__surface-white);
    --connect__icon-fill-color: var(--active-color);
}

.connect__button-primary.connect__feedback-correct {
    --active-color: var(--connect__passive-500);
    --state-based-bg: var(--connect__correct-pale);
    --connect__inner-status-color-state: var(--connect__surface-null);
}

.connect__button-primary.connect__feedback-incorrect {
    --state-based-bg: var(--color-incorrect-bg);
    --connect__inner-status-color-state: var(--connect__surface-null);
}

.connect__button-primary:disabled {
    --variant__icon-fill: var(--connect__passive-300);
    --variant__btn-bg: var(--connect__passive-100);
}

.connect__button-secondary {
    --state-based-bg: var(--connect__surface-white);
    --active-color: var(--connect__primary-mid);
    --connect__icon-fill-color: var(--active-color);
    --connect__inner-status-color: var(--connect__primary-mid);
}

.connect__button-secondary:disabled {
    --variant__btn-bg: var(--connect__surface-white);
    --variant__icon-fill: var(--connect__passive-200);
    --connect__inner-status-color-state: var(--connect__surface-pale);
}

.connect__button-secondary.connect__feedback-incorrect {
    --state-based-bg: var(--connect__surface-white);
    --connect__inner-status-color: var(--connect__incorrect-mid);
    --active-color: var(--connect__passive-500);
    --connect__state-based-pointer: var(--connect__disabled-cursor);
}

.connect__button-secondary.connect__feedback-correct {
    --state-based-bg: var(--connect__surface-white);
    --state-based-icon-fill: var(--connect__correct-mid);
    --connect__inner-status-color: var(--connect__correct-light);
}

.connect__button-incorrect:disabled {
    --state-based-bg: var(--color-incorrect-bg);
}


.connect__button-loading > svg {
    animation: connect-loading 0.85s var(--connect__linear) infinite;
}

.connect__button-media {
    box-shadow: var(--connect__shadow-null);
}

.connect__button-media.connect__media-active:not(:disabled) {
    --state-based-bg: var(--connect__error-mid);
}

.connect__button.connect__button.connect__feedback-correct {
    --connect__icon-fill-color: var(--connect__correct-mid);
}


.connect__button:disabled,
.connect__button.connect__disabled,
.connect__button.connect__feedback-correct,
.connect__button.connect__feedback-incorrect {
    --active-color: var(--connect__passive-500);
    --connect__state-based-pointer: var(--connect__disabled-cursor);
}

.connect__button.connect__feedback-correct:hover,
.connect__button.connect__feedback-correct:active,
.connect__button.connect__feedback-incorrect:hover,
.connect__button.connect__feedback-incorrect:active {
    box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-2);
}

@keyframes connect-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}