/*
.connect__choice Component

Padding on MCQ labels is the total border + spacer

| Property            | Variant/State                  | Fallback / Default             |
|---------------------|--------------------------------|--------------------------------|
| Font size           | --variant__label-fs            | --connect__body-sm             |
| Line height         | --variant__label-lh            | --connect__body-sm-lheight     |
| Font weight         | --variant__label-fw            | --connect__fw-regular          |
| Radius              | --variant__label-border-radius | --connect__radius-sm       |
| Background color    | --variant__label-bg            | --connect__surface-white       |
| Color               | --variant__label-color         | --connect__surface-dark        |
| Gap                 | --variant__label-gap           | --connect__spacer-md           |
| Cursor              | --connect__state-based-pointer | pointer                        |


|---------------------|------------------------------|-------------------------------|
|---------------------|-------INPUT VARIABLES--------|-------------------------------|
|---------------------|------------------------------|-------------------------------|
| Property            |Variant/State                 | Fallback / Default            |
|---------------------|------------------------------|-------------------------------|
| Radius              | --variant__mcq-border-radius | --connect__radius-xs       |
| Dimensions          | --variant__input-dimensions  | --connect__caption-lheight    |

*/

.connect__choice-label {
    --connect__label-padding-y: calc(var(--connect__total-border) + var(--connect__spacer-xs));
    --connect__label-padding-x: calc(var(--connect__total-border) + var(--connect__spacer-sm));

    --connect__input-dimensions: var(--connect__caption-lheight);
    --connect__input-border-w: var(--connect__mcq-border-w);

    align-items: center;
    background-color: var(--variant__label-bg, var(--connect__surface-white));
    border-radius: var(--variant__label-border-radius, var(--connect__radius-sm));
    box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-2);
    color: var(--active-color, var(--connect__surface-dark));
    cursor: var(--connect__state-based-pointer, pointer);
    display: inline-flex;
    font-family: var(--connect__font-sans);
    font-size: var(--connect__body-sm);
    font-weight: var(--connect__fw-regular, initial);
    gap: var(--connect__spacer-md);
    justify-content: flex-start;
    line-height: var(--connect__body-sm-lheight);
    padding: var(--connect__label-padding-y) var(--connect__label-padding-x);
    position: var(--connect__relative);
    transition-duration: var(--connect__transition-rapid);
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: var(--connect__ease-in-out);
    width: var(--connect__full-w, fit-content);

    &::before {
        border: var(--connect__input-border-w) solid var(--checkbox-checked-state-based-border-c, var(--connect__primary-mid));
        border-radius: var(--variant__mcq-radius, var(--connect__radius-xs));
        content: '';
        flex-shrink: 0;
        height: var(--connect__input-dimensions);
        padding: var(--connect__spacer-xs);
        width: var(--connect__input-dimensions);
    }

    &:hover {
        box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-4);
    }

    &:active {
        box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-0);
    }

    &:focus-visible:not(:active) {
        box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-focus);
    }

    &.connect__label-checked {
        &::before {
            background-color: var(--checkbox-state-based-bg, var(--connect__primary-mid));
            background-image: var(--checked-state-icon, var(--connect__surface-null));
            background-size: contain;
            box-shadow: var(--connect__shadow-reset) var(--connect__input-border-w) var(--checkbox-state-based-inner-shadow, var(--connect__surface-white)) inset;
        }

        &.connect__disabled {
            --checkbox-state-based-bg: var(--connect__passive-200);
        }

        &.connect__feedback-correct {
            --checkbox-state-based-bg: var(--connect__correct-mid);
            --checkbox-checked-state-based-border-c: var(--checkbox-state-based-bg);
            --checkbox-state-based-inner-shadow: var(--checkbox-state-based-bg);
            --checked-state-icon: var(--checked-correct);
        }

        &.connect__feedback-incorrect {
            --checkbox-state-based-bg: var(--checked-incorrect-bg);
            --checkbox-checked-state-based-border-c: var(--checkbox-state-based-bg);
            --checkbox-state-based-inner-shadow: var(--checkbox-state-based-bg);
            --checked-state-icon: var(--checked-incorrect);
        }

        &.connect__feedback-shown {
            --checkbox-state-based-bg: var(--connect__surface-dark);
            --checkbox-checked-state-based-border-c: var(--checkbox-state-based-bg);
            --checkbox-state-based-inner-shadow: var(--checkbox-state-based-bg);
            --checked-state-icon: var(--checked-correct);
        }
    }

    &.connect__disabled {
        box-shadow: var(--connect__effects-shadow), var(--connect__shadow-lvl-0);
    }
}



/*
.connect__mcq-card Component

Padding on MCQ labels is the total border
Positioning int he pseudos is the total border / 2

  &::after
    background-color of area around the input
    border-radius of this click area

|-----------|-----------------------|-------------------------|
|-----------|-------MCQ Card--------|-------------------------|
|-----------|-------|---------------|-------------------------|
| Property  | Theme | Variant/State | Fallback / Default      |
|-----------|-------|---------------|-------------------------|
| Padding-y |       |               | --connect__total-border |
| Padding-x |       |               | --connect__total-border |
| Margin    |       |               | --connect__spacer-xs    |
*/

.connect__mcq-card {
    --connect__label-padding-y: var(--connect__total-border);
    --connect__label-padding-x: var(--connect__total-border);
    --connect__mcq-input-margin: var(--connect__spacer-xs);

    align-items: flex-start;
    display: var(--connect__display-grid);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &::before {
        grid-column: 1;
        grid-row: 1;
        left: calc(var(--connect__label-padding-x) / 2);
        position: var(--connect__absolute);
        top: calc(var(--connect__label-padding-y) / 2);
        z-index: var(--connect__z-1);
    }

    &::after {
        background-color: var(--connect__surface-white);
        border-radius: var(--connect__radius-xs) var(--connect__spacer-zero);
        content: '';
        height: calc(var(--connect__input-dimensions) + var(--connect__mcq-input-margin) + var(--connect__inner-status));
        left: var(--connect__inner-divider-width);
        position: var(--connect__absolute);
        top: var(--connect__inner-divider-width);
        width: calc(var(--connect__input-dimensions) + var(--connect__mcq-input-margin) + var(--connect__inner-status));
    }

    .connect__figure {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        img {
            border-radius: var(--connect__radius-xs);
        }
    }
}

.connect__choice {
    inset: 0;
    opacity: var(--connect__opacity-zero);
    position: var(--connect__absolute);
}

.connect__choice[type='radio'] {
    + label {
        --variant__mcq-radius: var(--connect__half-radius);
    }
}

.connect__figure {
    height: var(--connect__full-h);
    margin-top: var(--connect__spacer-zero);
}

/* 
These styles apply to elements with classes that include '-correct'.

| Property Type         | Variable                                | Description                                              |
|-----------------------|-----------------------------------------|----------------------------------------------------------|
| Text color            | --active-color                          | Change to --connect__disabled-mid                        |
| Icon Fills            | --connect__icon-fill-color               | Change to --connect__passive-200                      |
| Bg Colors             | --checkbox-state-based-bg               | Change to --connect__surface-white                       |
| Checkbox border color | --checkbox-checked-state-based-border-c | The border around the checkbox, it's blue before a state |
| Shadow                | --checkbox-state-based-inner-shadow     | Change to --state-based-bg                               |
| Cursors               | --connect__state-based-pointer          | Change to --connect__disabled-cursor                     |
| Dropdown Icon         | --state__connect-dropdown-icon          | Change to --state__variant-connect-dropdown-icon         |
*/

.connect__disabled {
    --active-color: var(--connect__disabled-mid);
    --connect__icon-fill-color: var(--connect__passive-200);
    --checkbox-state-based-bg: var(--connect__surface-white);
    --checkbox-checked-state-based-border-c: var(--connect__passive-200);
    --checkbox-state-based-inner-shadow: var(--state-based-bg);
    --connect__state-based-pointer: var(--connect__disabled-cursor);
    --state__connect-dropdown-icon: var(--state__variant-connect-dropdown-icon);
    --state-based-bg: var(--connect__disabled-pale);
}

/* 
These styles apply to elements with classes that include '-correct'.

| Property      | Variable                      | Description                       |
|---------------|-------------------------------|-----------------------------------|
| Inner Status  | --connect__inner-status-color | Change to --connect__correct-mid  |
| BG Color      | --state-based-bg              | Change bg to --color-correct-pale |
| Icon Input    | --state-icon                  | Change to correct icon            |
*/

.connect__feedback-correct {
    --connect__inner-status-color: var(--connect__correct-mid);
    --state-based-bg: var(--connect__correct-pale);
    --state-icon: var(--icon-correct);
}

/* 
These styles apply to elements with classes that include '-incorrect'.

| Property     | Variable                      | Description                        |
|--------------|-------------------------------|------------------------------------|
| Inner Status | --connect__inner-status-color | Change to --connect__incorrect-mid |
| BG Color     | --state-based-bg              | Change bg to --color-incorrect-bg  |
| Icon Input   | --state-icon                  | Change to incorrect icon           |
*/

.connect__feedback-incorrect {
    --connect__inner-status-color: var(--connect__incorrect-mid);
    --state-based-bg: var(--color-incorrect-bg);
    --state-icon: var(--icon-incorrect);
}

/* 
These styles apply to elements with classes that include '-shown'.

| Property     | Variable                      | Description                       |
|--------------|-------------------------------|-----------------------------------|
| Inner Status | --connect__inner-status-color | Change to --connect__surface-mid  |
| BG Color     | --state-based-bg              | Change bg to white                |
| Icon Input   | --state-icon                  | Change to shown icon              |
*/

.connect__feedback-shown {
    --connect__inner-status-color: var(--connect__surface-mid);
    --state-based-bg: var(--connect__surface-white);
    --state-icon: var(--icon-shown);
}

/* 
These styles apply to elements with classes that include '-correct', '-incorrect', or '-shown'.
Cover Text / Cursors / Iconography

| Property Type | Variable                        | Description                    |
|---------------|---------------------------------|--------------------------------|
| Color         | --active-color                  | Change to disabled text mid    |
| Cursor        | --connect__state-based-pointer  | Change to disabled cursor      |
| Iconography   | --state__connect-dropdown-icon  | Change to state dropdown icon  |
*/

.connect__feedback-correct,
.connect__feedback-incorrect,
.connect__feedback-shown {
    --active-color: var(--connect__disabled-mid);
    --connect__state-based-pointer: var(--connect__disabled-cursor);
    --state__connect-dropdown-icon: var(--state__variant-connect-dropdown-icon);
}