body {
  margin: 0;
  padding: 0;
  justify-items: center;
  background-color: rgb(201 193 235);
  font-family: system-ui;
}

#root {
  margin: 0 0;
  padding: 0 0;
}

.group {
  max-width: 500px;
  margin: 0 0 20px 0;
  background-color: rgba(255 255 255);
  border-radius: 10px;
  justify-items: center;
}

.big {
  font-size: larger;
  padding: 15px;
}

canvas {
  border-radius: 10px;
}

p {
  padding: 5px 10px;
  margin: 0;
}

hr {
  border: 1px solid rgb(232 225 236);  
}

ul {
  margin: 0px 20px 0px 20px;
  padding: 0px 0px;
}

ul.code {
  padding: 5px 25px;
  margin: 5px;
}

ul.code, ul.code * {
  list-style-type: none;  
}

li {
  padding: 7px 0px;
}

pre {
  margin: 5px 5px;
  padding: 20px;
  text-wrap: auto;
  font-size: small;
  line-height: 1.7em;
}

.code {
  border-radius: 15px;
  font-family: monospace;
  background-color: #e3f0f0;
}

button {
  border-radius: 5px;
  margin: 3px;
  font-family: system-ui;
  background-color: rgb(244 240 255);
}

button:hover {
  filter: brightness(1.05);
}

button:active {
  transform: translate(1px, 1px);
  background-color: rgb(225 216 250);
}